<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class='container'>
      <h1>Change Client name: {{ client.getClientName }}</h1>

      <form action='/clients/{{ client.getId }}' method='post'>
        <input name='_method' type='hidden' value='patch'>
        <label for='client_name'>Change {{ client.getClientName }}</label><br>
        <input id='client_name' name='client_name' type='text' {{ client.getClientName }} required >
        <button type='submit' class='btn-success'>Change Client</button>
      </form>
      <form action='/clients/{{ client.getId }}' method='post'>
        <input name='_method' type='hidden' value='delete'>
        <button type='submit' class='btn-danger'>86 this client</button>
      </form>
    </div>
  </body>
</html>
