<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ stylist.getStylistName }}</h1>
      {% if clients is not empty %}
      <p>These people need a hair cut:</p>
      <ul>
        {% for client in clients %}
        <li>{{ client.getClientName }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <h4>Add a client:</h4>

      <form action='/add_clients' method='post'>
        <input id="course_id" name="course_id" type="hidden" value="{{ course.getId }}">
        <label for="student_id">Select a student</label>
        <select id='student_id' name='student_id' type='text'>
              {% for student in all_students %}
                <option value="{{ student.getId }}"> {{ student.getName }} {{ student.getEnrollDate }} </option>
              {% endfor %}
        </select>
        <button type='submit'>Add student</button>
    </form>

    <p><a href='/'>Home</a></p>
    </body>
</html>
